@import "src/styles/colors";

.vg-input {
  .text-caption {
    user-select: none;
  }
  input, select {
    background: $white;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid $secondary;
    width: 100%;

    &:focus-visible, &:focus, &:hover {
      outline: none;
      border: 1px solid $primary;
    }
  }
}
