// https://colorhunt.co/palette/f6f1f1afd3e219a7ce146c94
$base: #F6F1F1;
$primary: #19A7CE;
$accent: #146C94;
//$secondary: #AFD3E2;
$white: #FFFFFF;

$grey: #949494;
$darkGrey: #4F4F4F;
$light-grey: #ECECEC;
$primary: #4C1CD5;
$primary-gradient: #8D65FF;
$secondary: #EAE2FF;

$chart-positive: #00C8A0;
$chart-negative: #FF0072;

$chart-color-1: #FFBC41;
$chart-color-2: #FF754A;
$chart-color-3: #D800A6;
$chart-color-4: #00B5D6;
$chart-color-5: #00C8A0;
$chart-color-6: #4FFBDF;
