.vg-input + .vg-input {
  margin-top: 8px;
}

.vg-input + .vg-button {
  margin-top: 32px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
