//https://m2.material.io/design/typography/the-type-system.html#type-scale

@font-face {
  font-family: Rubik;
  src: url(/assets/fonts/Rubik-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Rubik;
  src: url(/assets/fonts/Rubik-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Rubik;
  src: url(/assets/fonts/Rubik-SemiBold.ttf);
  font-weight: 600;
}

.text-title-1 {
  font-weight: 300;
  font-size: 96px;
  letter-spacing: -1.5px;
}

.text-title-2 {
  font-weight: 300;
  font-size: 60px;
  letter-spacing: -0.5px;
}

.text-title-3 {
  font-weight: 400;
  font-size: 48px;
  letter-spacing: 0;
}

.text-title-4 {
  font-weight: 400;
  font-size: 34px;
  letter-spacing: 0.25px;
}

.text-title-5 {
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.15px;
}

.text-title-6 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.15px;
}

.text-subtitle-1 {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.15px;
}

.text-subtitle-2 {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.1px;
}

.text-body-1 {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.text-body-2 {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.25px;
}

.text-button {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

.text-caption {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.4px;
}

.text-overline {
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
