@import "src/styles/colors";

button.vg-button {
  appearance: none;
  padding: 16px;
  background: $white;
  border-radius: 44px;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  border: none;
  outline: none;
  color: $primary;
  display: block;
  width: 100%;
  user-select: none;

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}
